@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
p{
	margin-block-start: 0em;
    margin-block-end: 0em;
}

/* Sections */
#body-content{
	width: 100vw;
	height: 100vh;
	display: flex;
}
#macro-info{
	width: 70%;
	height: calc(100% - 40px);
	padding-top: 40px;
	background: linear-gradient(-45deg, #ea018c, #772b90);
	box-shadow: 2px 0px 12px;
	transition: all 1s ease-out;
}
#macro-form{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#macro-preview{
	display: inline-block;
	width: calc(30% - 40px);
	padding: 40px 20px 0px 20px;
}
.frame-title, .frame-title-preview{
	color: white; 
	text-align: center;
}
.frame-title-preview{color: #702082;}

/* Theme mode button */
#theme-mode{
	float: right;
	margin: -30px 80px;
	display: flex;
	align-items: center;
}
#theme-mode img{
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.switch{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 30px;
	background-color: white;
	border-radius: 35px;
}

.slider{
	cursor: pointer;
	background-color: #ff278c;
	transition: 0.4s;
	border-radius: 34px;
}

.switch input{
	display:none;
}

.slider:before{
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 5px;
	bottom: 5px;
	background-color: #ff278c;
	transition: 0.4s;
	border-radius: 50px;
}
input:checked + .slider:before{
	background-color: #702082;
}

input:checked + .slider:before{
	transform: translateX(20px);
}

/* Text and Select inputs */
.macro-form-div-input{
	text-align: center;
}
.macro-input-text, .macro-input-select{
	width: calc(60% - 10px);
	height: 30px;
	padding-left: 10px;
	margin-bottom: 20px;
	border: 0px solid transparent;
	border-radius: 10px;
	outline: none;
}
.macro-input-select{
	width: 60%;
}
.macro-input-text:focus, .macro-input-select:focus{
	outline: 1px solid black;
}

/* Checkbox inputs  */
.macro-input-checkbox{
    display: inline-flex;
    color: white;
    width: 55%;
}
.macro-input-checkbox label{
	width: 65px;
}
.macro-input-checkbox p{
    width: 100%;
    text-align: left;
    margin-left: auto;
}

/* Number inputs */
.macro-input-number{
    display: inline-flex;
    color: white;
    width: 55%;
}
.macro-input-number p{
    width: 100%;
    text-align: left;
    margin-left: auto;
}
.macro-input-number input[type="number"]{
	width: 50px;
}

/* Output textarea */
#macro-output-div{
	width: 100%;
	margin-top: 15px;
	height: auto;
	text-align: center;
}
#macro-output-textarea{
	width: calc(80% - 10px);
	min-height: 100px;
	border: 0px solid transparent;
	border-radius: 10px;
	padding: 10px;
	resize: none;
	outline: none;
}
#macro-output-textarea:focus{
	outline: 1px solid black;
}


/* Buttons */ 
#macro-output-btns{
	text-align: center;
}
.macro-btn{
	min-width: 170px;
	height: 30px;
	padding: 0px 10px;
	margin: 5px 0;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 10px;
	transition: all 0.3s ease-out;
}
.macro-btn:hover{
	background-color: white;
	color: black;
	transition: all 0.15s;
}
.macro-btn:active{
	background: lightgrey;
	border: 2px solid lightgrey;
}

/* Preview frame */
#macro-preview-square{
	border: 1px solid #702082;
}
#macro-peview-header{
	background-color: #702082;
	color: white;
}
#macro-preview-name{
	font-family: "Arial";
	padding: 5px;

}
#macro-preview-img{
	width: 90%;
	margin: 5px;
}
.macro-preview-row-1, .macro-preview-row-2{
	font-family: "Arial";
	font-weight: 600;
	color: #404040;
	background-color: #eee;
    display: flex;
    justify-content: end;
    padding: 3px 10% 3px 0;
}
.macro-preview-row-roll{
	background-color: #fef68e;
	padding: 0 3px 0 3px;
    margin: 0 5px;
}

@media screen and (min-height: 800px) and (min-width: 1380px){
	.frame-title, .frame-title-preview{
    	font-size: 32px;
    	height: 5%;
	}
	p{
		font-size: 24px;
	}

	#theme-mode{
		margin: -40px 130px;
	}
	#theme-mode img{
		width: 40px;
		height: 40px;
	}
	.switch{
		width: 90px;
		height: 50px;
	}
	.macro-input-checkbox label{
		width: 120px;
	}
	.slider:before{
		width: 40px;
		height: 40px;
	}
	input:checked + .slider:before{
		transform: translateX(40px);
	}

	#macro-form{
		height: 45%;
	}
	.macro-input-select, .macro-input-text{
		font-size: 24px;
		height: 50px;
		border-radius: 20px;
	}
	.macro-input-select option{
		font-size: 12px;
	}
	.macro-input-checkbox input[type="checkbox"]{
		width: 25px;
	}

	#macro-output-textarea{
		height: 150px;
		font-size: 24px;
	}
	#macro-output-btns{
		margin: 10px;
	}	
	.macro-btn{
		font-size: 24px;
		height: 50px;
	}
}

@media screen and (max-width: 1010px){
	#macro-info{
		width: 100%;
	}
	#macro-preview{
		display: none;
	}
}